.callMePopup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, 0.6);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentWrap {
    background: #3A332F;
}

.content {
    padding: 0 160px 108px;
}

.header {
    display: flex;
    justify-content: flex-end;
    /* padding: 10px; */
}

.header img {
    padding: 36px 40px;
}

.header img:hover {
    opacity: 0.9;
}

.header img:active {
    opacity: 0.7;
}

.title {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #DEDBCB;
    padding-bottom: 30px;
}

.btnWrap {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.inptWrap>form {
    display: grid;
    gap: 40px
}

.content form>input {
    padding: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #DEDBCB;
    background: #3A332F;
    border: unset;
    width: 100%;
    border-bottom: 2px solid #DEDBCB;
}

.content form>input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #DEDBCB;
}

.btnWrap {
    display: flex;
}

.submit {
    /* background: #3A332F; */
    background: #DEDBCB;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 136.9%;
    color: #3A332F;
    height: 88px;
    text-align: center;
    border: unset;
    width: 357px;
    cursor: pointer;
}

.submit:disabled {
    opacity: 0.7;
}

@media screen and (max-width: 1024px) {
    .content {
        padding: 20px;
    }
    .contentWrap {
        padding: 20px;
        width: 267px;
    }
    .inptWrap>form {
        gap: 20px
    }
    .header img {
        padding: 0;
        height: 27px;
        width: 27px;
    }
    .title {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .content form>input {
        padding: 7px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        background: #3A332F;
        border: unset;
        width: 100%;
        border-bottom: 2px solid #DEDBCB;
    }
    .content form>input::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .btnWrap {
        display: flex;
        justify-content: center;
        padding-top: 14px;
    }
    .submit {
        width: 135px;
        height: 33px;
        border-radius: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 136.9%;
        /* identical to box height, or 11px */
        color: #3A332F;
    }
}