.slider {
    height: 100vh;
    /* background: url("../../public/slider1/p1.jpg") ; */
    background-size: 100% 100% !important;
    width: 100vw;
    /* display: grid; */
    background-repeat: no-repeat !important;
}

.sliderArrow {
    height: 42px;
    width: 42px;
}

.wraper {
    background: #3A332F;
}

.title {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height */
    color: #000000;
}

.text {
    height: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 136.9%;
    /* or 33px */
    color: #000000;
    width: 496px;
}

.wrap {
    margin: 0 50px;
    display: grid;
    /* display: flex; */
    align-items: center;
    gap: 60px;
    grid-template-columns: auto 1fr auto;
    height: 100%;
    align-content: center;
    justify-content: space-between;
}

.arrow:hover {
    opacity: 0.9;
}

.arrow:active {
    opacity: 0.7;
}

.contentWrap {
    display: grid;
    gap: 15px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .slider {
        display: none;
    }
    .mobile {
        display: grid;
    }
    .btnWrap {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px 0;
        background: #3A332F;
    }
    .mobileSlide {
        width: 186px;
        height: 257px;
    }
    .counter {
        bottom: 10px;
        position: absolute;
        left: 50%;
        width: 110px;
        transform: translate(-50%, 0);
        display: flex;
        gap: 20px;
    }
    .mobileSlider {
        background: #3A332F;
        display: flex;
        gap: 24px;
        padding-right: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 136.9%;
        /* or 16px */
        color: #DEDBCB;
    }
    .mobileInfo>div {
        padding-top: 30px;
        justify-content: center;
    }
    .counter img:hover {
        opacity: 0.9;
    }
    .counter img:active {
        opacity: 0.7;
    }
    .title {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #DEDBCB;
    }
    .text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 159%;
        /* or 16px */
        width: 100%;
        height: 100%;
        color: #DEDBCB;
    }
    .mobileInfo {
        position: relative;
        display: grid;
        align-content: flex-start;
        gap: 10px;
        padding-top: 20px;
    }
}