.introduction {
    height: 100vh;
    background: url('../../public/introduction.jpg');
    background-size: 100% 100%;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.introduction {
    padding-top: 99px;
}

.introWrap {
    justify-content: center;
    display: grid;
    gap: 64px;
}

.introWrap>div {
    display: grid;
    gap: 3px;
}

.introWrap>p {
    width: 683px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.introWrap>div>p:first-child {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.introWrap>div>p:last-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-style: 'ExtraLight';
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .introduction {
        margin-top: 88px;
        height: 375px;
    }
    .introWrap {
        justify-content: center;
        display: grid;
        gap: 11px;
    }
    .introduction {
        padding-top: unset;
    }
    .introWrap>p {
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    .introWrap>div>p:first-child {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }
    .introWrap>div>p:last-child {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
    }
}