.location {
    /* Height: 798px; */
    padding: 85px 0;
    background: #3A332F;
}

.locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
    margin: 0 60px;
}

.title {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #DEDBCB;
}

.mainText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    color: #DEDBCB;
}

.content {
    display: grid;
    gap: 15px;
}

.mobileMap {
    display: none;
}

.titleM {
    display: none;
}

@media screen and (max-width: 1024px) {
    .descWrap {
        display: none;
    }
    .mobileMap {
        display: flex;
        justify-content: center;
    }
    .mobileMap {
        grid-row: 2;
        display: grid;
    }
    .location {
        padding: 20px 0 0;
    }
    .btnWrap {
        display: flex;
        padding-top: 20px;
        justify-content: center;
    }
    .locations {
        margin: 0;
        padding: 0 20px 50px;
        gap: 30px;
        grid-template-columns: unset;
    }
    .titleM {
        display: grid;
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        padding-left: 32px;
        line-height: 23px;
        color: #DEDBCB;
    }
    .title {
        display: none;
    }
    .mainText {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        /* or 217% */
        text-align: justify;
        color: #DEDBCB;
    }
}